<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.tangcao.mapper.write.tangcaoYearlyPaymentWriteMapper">

    <!--新增所有列-->
    <insert id="insertPsnTratYearDInfo" parameterType="com.yinhai.tangcao.vo.PsnTratYearDInfoVo">
        insert into psn_trat_year_d(
                                    PSN_TRAT_CLCT_ID,
                                    PSN_NO,
                                    INSUTYPE,
                                    TRAT_CLCT_TYPE,
                                    BEGN_YM,
                                    END_YM,
                                    TRAT_CLCT_MONS,
                                    VALI_FLAG,
                                    MEMO,
                                    INSU_ORG,
                                    OPT_CHNL,
                                    OPTINS,
                                    OPTER,
                                    OPTER_NAME,
                                    OPT_TIME,
                                    CRTE_OPTINS,
                                    CRTER,
                                    CRTER_NAME,
                                    CRTE_TIME,
                                    UPDT_TIME,
                                    RID,
                                    PSN_INSU_RLTS_ID,
                                    PSN_INSU_MGT_EID)
        values
        <foreach collection ="list" item="item" separator =",">
            (#{item.psnTratClctId,jdbcType=VARCHAR},
             #{item.psnNo,jdbcType=VARCHAR},
             #{item.insutype,jdbcType=VARCHAR},
             #{item.tratClctType,jdbcType=VARCHAR},
             #{item.begnYm,jdbcType=VARCHAR},
             #{item.endYm,jdbcType=VARCHAR},
             #{item.tratClctMons,jdbcType=NUMERIC},
             #{item.valiFlag,jdbcType=VARCHAR},
             #{item.memo,jdbcType=VARCHAR},
             #{item.insuOrg,jdbcType=VARCHAR},
             #{item.optChnl,jdbcType=VARCHAR},
             #{item.optins,jdbcType=VARCHAR},
             #{item.opter,jdbcType=VARCHAR},
             #{item.opterName,jdbcType=VARCHAR},
             #{item.optTime,jdbcType=TIMESTAMP},
             #{item.crteOptins,jdbcType=VARCHAR},
             #{item.crter,jdbcType=VARCHAR},
             #{item.crterName,jdbcType=VARCHAR},
             #{item.crteTime,jdbcType=TIMESTAMP},
             #{item.updtTime,jdbcType=TIMESTAMP},
             #{item.rid,jdbcType=VARCHAR},
             #{item.psnInsuRltsId,jdbcType=VARCHAR},
             #{item.psnInsuMgtEid,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="updatePsnTratYearDInfo" parameterType="com.yinhai.tangcao.vo.PsnTratYearDInfoVo">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update psn_trat_year_d
            <set>
                <if test="item.insutype != null and item.insutype != ''">
                    INSUTYPE = #{item.insutype,jdbcType=VARCHAR},
                </if>
                <if test="item.begnYm != null and item.begnYm != ''">
                    BEGN_YM = #{item.begnYm,jdbcType=VARCHAR},
                </if>
                <if test="item.endYm != null and item.endYm != ''">
                    END_YM = #{item.endYm,jdbcType=VARCHAR},
                </if>
                <if test="item.tratClctMons != null">
                    TRAT_CLCT_MONS = #{item.tratClctMons,jdbcType=NUMERIC},
                </if>
                <if test="item.valiFlag != null and item.valiFlag != ''">
                    VALI_FLAG = #{item.valiFlag,jdbcType=VARCHAR},
                </if>
                <if test="item.memo != null and item.memo != ''">
                    MEMO = #{item.memo,jdbcType=VARCHAR},
                </if>
                <if test="item.insuOrg != null and item.insuOrg != ''">
                    INSU_ORG = #{item.insuOrg,jdbcType=VARCHAR},
                </if>
                <if test="item.optChnl != null and item.optChnl != ''">
                    OPT_CHNL = #{item.optChnl,jdbcType=VARCHAR},
                </if>
                <if test="item.optins != null and item.optins != ''">
                    OPTINS = #{item.optins,jdbcType=VARCHAR},
                </if>
                <if test="item.opter != null and item.opter != ''">
                    OPTER = #{item.opter,jdbcType=VARCHAR},
                </if>
                <if test="item.opterName != null and item.opterName != ''">
                    OPTER_NAME = #{item.opterName,jdbcType=VARCHAR},
                </if>
                <if test="item.optTime != null">
                    OPT_TIME = #{item.optTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.crteOptins != null and item.crteOptins != ''">
                    CRTE_OPTINS = #{item.crteOptins,jdbcType=VARCHAR},
                </if>
                <if test="item.crter != null and item.crter != ''">
                    CRTER = #{item.crter,jdbcType=VARCHAR},
                </if>
                <if test="item.crterName != null and item.crterName != ''">
                    CRTER_NAME = #{item.crterName,jdbcType=VARCHAR},
                </if>
                <if test="item.crteTime != null">
                    CRTE_TIME = #{item.crteTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updtTime != null">
                    UPDT_TIME = #{item.updtTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.rid != null and item.rid != ''">
                    RID = #{item.rid,jdbcType=VARCHAR},
                </if>
                <if test="item.psnInsuRltsId != null and item.psnInsuRltsId != ''">
                    PSN_INSU_RLTS_ID = #{item.psnInsuRltsId,jdbcType=VARCHAR},
                </if>
                <if test="item.psnInsuMgtEid != null and item.psnInsuMgtEid != ''">
                    PSN_INSU_MGT_EID = #{item.psnInsuMgtEid,jdbcType=VARCHAR},
                </if>
            </set>
            where PSN_TRAT_CLCT_ID = #{item.psnTratClctId}
        </foreach>
    </update>


    <update id="deletePsnTratYearDInfo">
        update  psn_trat_year_d set VALI_FLAG = '0'
        where PSN_TRAT_CLCT_ID = #{psnTratClctId}
    </update>


</mapper>
